*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	}
	
.about-sec{
	padding:60px 0;
	}
	
.container{
	width:85%;
	margin:auto;
	}
	
.row{
	display:flex;
	flex-wrap:wrap;
	padding:15px;
	}
	
.icon-box{
	padding:70px 30px;
	background-color:#ffffff;
	box-shadow:0 0 20px #ccc;
	}
	
.icon-box:hover .icon{
	border-color:blue;
	}	
	
.col{
	width:33.3%;
	padding:12px;
	}
	
.icon{
	font-size:25px;
	color:#0e23e6;
	margin-bottom:20px;
	text-align:center;
	background-color:#d7e2f1;
	display:inline-block;
	border:  1px solid #deebfd;
	padding:20px;
	}	

.tittle{
	font-weight:700;
	font-size:20px;
	margin-bottom:19px;
	text-align:center;
	}
	
.description{
	font-size:17px;
	line-height:25px;
	text-align:center
	}
	
.icon-box:hover{
	transform:scale(1.1);
	box-shadow:0 0 50px #b9d0f1;
	}
	
.col:hover h4{
	color:blue;
	}

.main{
	text-align:center;
	padding:30px;
	}

.main-head{
	color: #106eea;
	letter-spacing:1px;
	font-weight:700;
	background-color:#c5dfff;
	border-radius:50px;
	display:inline-block;
	padding:7px;
	margin:0 0 10px 0;
	}	

.main-tittle{
	margin:20px 0
}	
	
span{	
	color: #106eea;	
	}

.main-para{
	padding:10px;
	margin-top:30px;
	}